<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories/deals"></ion-back-button>
    </ion-buttons>
    <ion-title>Deals Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="deals-details-content">
  <ion-row class="expiration-countdown">
    <ion-icon class="time-icon" name="md-time"></ion-icon>
    <span class="expiration-lead">Deal expires in</span>
    <ng-container *ngIf="((details?.expirationDate | appTimeDifference) > 0 && (details?.expirationDate | appTimeDifference) <= 2)">
      <app-countdown-timer class="item-countdown" [end]="details?.expirationDate" [units]="{from: 'hour', to: 'minute'}"></app-countdown-timer>
    </ng-container>
  </ion-row>

  <div class="details-wrapper">
    <ion-row class="slider-row">
      <ion-slides class="details-slides" pager="true" [options]="slidesOptions">
        <ion-slide class="" *ngFor="let image of details?.showcaseImages">
          <ion-row class="slide-inner-row">
            <app-preload-image [alt]="'deals details'" class="showcase-image add-spinner" [ratio]="{w: 56, h: 40}" [src]="image"></app-preload-image>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row class="description-row">
      <ion-col class="logo-col" size="6">
        <app-preload-image [alt]="'deals details'" class="add-spinner" [ratio]="{w: 128, h: 32}" [src]="details?.logo"></app-preload-image>
      </ion-col>
      <ion-col class="info-col" size="9">
        <h4 class="details-name">
          <app-text-shell [data]="details?.name" [attr.element]="'h4'"></app-text-shell>
        </h4>
        <p class="details-description">
          <app-text-shell [data]="details?.description" [attr.lines]="3"></app-text-shell>
        </p>
      </ion-col>
      <ion-col class="preview-image-col" size="3">
        <app-preload-image [alt]="'deals details'" class="add-spinner" [ratio]="{w: 1, h: 1}" [src]="details?.previewImage"></app-preload-image>
      </ion-col>
    </ion-row>
    <ion-row class="promo-row">
      <h3 class="promo-title">Copy the Code</h3>
      <ion-col size="8">
        <p class="promo-description">
          Paste this code at checkout to get an extra 50% off
        </p>
      </ion-col>
      <ion-col size="6">
        <ion-button class="promo-code-btn" expand="block" shape="round" fill="outline" color="claim">
          <span class="promo-code">
            <app-text-shell [data]="details?.code" class="no-animation"></app-text-shell>
          </span>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <p class="promo-instructions">
          Go to <a class="instructions-anchor" target="_blank" href="https://google.com/search?q=chocolate">lancasternutcandy.com</a> and paste the code at checkout.
        </p>
      </ion-col>
    </ion-row>
    <div class="expiration-notice">
      <span class="notice-message">CUPON EXPIRES ON:</span>
      <span class="notice-value">
        <app-text-shell [data]="details?.expirationDate" class="no-animation"></app-text-shell>
      </span>
    </div>
  </div>

  <div class="related-deals-wrapper" *ngIf="details?.relatedDeals && details.relatedDeals.length > 0">
    <h3 class="related-deals-title">More hot deals</h3>
    <ion-row class="related-deal" *ngFor="let deal of details.relatedDeals">
      <ion-col class="deal-logo-wrapper" size="4">
        <app-preload-image [alt]="'deals details'" class="add-spinner" [ratio]="{w: 1, h: 1}" [src]="deal.logo"></app-preload-image>
      </ion-col>
      <ion-col class="deal-info-wrapper" size="8">
        <h4 class="deal-title">
          <app-text-shell [data]="deal?.name" [attr.element]="'h4'"></app-text-shell>
        </h4>
        <p class="deal-description">
          <app-text-shell [data]="deal?.description" [attr.lines]="1"></app-text-shell>
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
