.items-row {
  padding: 18px 18px 0px;

  .listing-item {
    margin-bottom: 18px;

    &:nth-child(odd) {
      padding-right: 9px;
    }

    &:nth-child(even) {
      padding-left: 9px;
    }

    .item-image {
      border: 1px solid #D8D8D8;
      .image-anchor {
        display: block;
      }
    }

    .item-body {
      --ion-grid-column-padding: 0px;
      padding: 5px 5px;
      text-align: center;

      .main-info {
        margin-bottom: 8px;

        .item-name {
          app-text-shell {
            --c-line-height: 14px;
            --c-bg-color: #{ darken(#faf2f0, 4.5%) };
          }

          margin: 0px;
          font-size: 16px;
          font-weight: 400;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .name-anchor {
            color: var(--ion-color-primary);
            display: block;
          }
        }
      }

      .secondary-info {
        align-items: center;

        .price-col {
          &:first-child {
            padding-right: 8px;
            text-align: right;

            &:last-child {
              text-align: center;
            }
          }
          &:last-child {
            padding-left: 8px;
            text-align: left;
          }
        }

        .separator {
          max-width: 0px;
          border-right: solid 2px #000;
          align-self: stretch;
        }

        .item-sale-price {
          app-text-shell {
            --c-line-height: 16px;
            --c-bg-color: #{ lighten(#faf2f0, 2.5%) };
          }

          display: block;
          font-weight: 400;
          color: var(--ion-color-secondary);
          font-size: 18px;
        }

        .item-original-price {
          app-text-shell {
            --c-line-height: 14px;
            --c-bg-color: #{ lighten(#faf2f0, 2.5%) };
          }

          display: block;
          text-decoration: line-through;
          font-size: 14px;
        }
      }

    }
  }
}
