<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/user"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment class="user-friends-segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button checked="true" value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="followers">
      <ion-label>Followers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="following">
      <ion-label>Following</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar animated (ionChange)="searchList($event)"></ion-searchbar>

  <ng-template #friendItem let-friend="friend">
    <ion-row class="user-details-section">
      <ion-col class="user-image-wrapper">
        <app-preload-image class="user-image add-spinner" [ratio]="{w:1, h:1}" [src]="friend.image"></app-preload-image>
      </ion-col>
      <ion-col class="user-info-wrapper">
        <ion-row>
          <h3 class="user-name">
            <app-text-shell [data]="friend.name" [attr.element]="'h3'"></app-text-shell>
          </h3>
        </ion-row>
        <h5 class="user-job">
          <app-text-shell [data]="friend.job" [attr.element]="'h5'"></app-text-shell>
        </h5>
        <ion-row class="user-stats">
          <ion-col size="5">
            <span>
              <app-text-shell [data]="friend?.followers?.concat(' Followers')" class="no-animation"></app-text-shell>
            </span>
          </ion-col>
          <ion-col size="1" class="stats-separator-wrapper">
            <div class="stats-separator"></div>
          </ion-col>
          <ion-col size="5">
            <span>
              <app-text-shell [data]="friend?.followings?.concat(' Following')" class="no-animation"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="user-actions-wrapper">
        <ion-button *ngIf="!friend.following" class="user-action" expand="block" size="small" color="primary">Follow</ion-button>
        <ion-button *ngIf="friend.following" class="user-action" expand="block" size="small" color="light">Following</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>

  <ng-container *ngIf="segmentValue === 'friends'">
    <ion-list class="friends-list">
      <ion-item class="friend-item" *ngFor="let friend of friendsList">
        <ng-container *ngTemplateOutlet="friendItem; context: { friend: friend }"></ng-container>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="segmentValue === 'followers'">
    <ion-list class="friends-list">
      <ion-item class="friend-item" *ngFor="let friend of followersList">
        <ng-container *ngTemplateOutlet="friendItem; context: { friend: friend }"></ng-container>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="segmentValue === 'following'">
    <ion-list class="friends-list">
      <ion-item class="friend-item" *ngFor="let friend of followingList">
        <ng-container *ngTemplateOutlet="friendItem; context: { friend: friend }"></ng-container>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>
