.user-friends-segment {
  padding: 10px;
}

.friend-item {
  padding: 10px 0px;
  --inner-padding-end: 10px;
  --padding-start: 10px;

  .user-details-section {
    width: 100%;

    .user-image-wrapper {
      max-width: 20%;
      padding-left: 0px;

      .user-image {
        border-radius: 8px;
      }
    }

    .user-actions-wrapper {
      max-width: 22%;
      padding: 0px;
      margin: auto;
    }

    .user-info-wrapper {
      padding-left: 10px;
      display: flex;
      flex-direction: column;

      .user-name {
        margin: 0px;
        font-weight: 600;
        flex: 1;
        font-size: 1rem;
      }

      .user-job {
        margin-top: 6px;
        color: var(--ion-color-medium);
        font-size: 0.9rem;
      }

      .user-stats {
        color: var(--ion-color-medium);
        justify-content: space-between;
        --ion-grid-columns: 11;
        --ion-grid-column-padding: 0px;
        font-size: 0.75rem;

        .stats-separator-wrapper {
          margin:auto;

          .stats-separator {
            width: 6px;
            height: 6px;
            background-color: var(--ion-color-medium);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
:host-context(.md) {
  .user-action {
    font-size: 10px;
  }
}
