.showcase-content {
  --background: var(--app-background-shade);

  .showcase-section {
    margin: 20px 20px 100px;
  }

  pre {
    font-size: 14px;
    background: #CCC;
    padding: 10px;
  }

  code {
    color: #F92672;
    font-weight: 500;
  }
}
