<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Custom Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-item-divider sticky="true">
    <ion-label>Background Image Shell</ion-label>
  </ion-item-divider>
  <p>
    Set a background image as a cover
  </p>
  <p>
    This element is different from preload-image in that this one is designed to contain content (for example some text)
  </p>
  <div style="width:100%;">
    <app-background-image class="add-overlay add-spinner" [src]="">
      <app-fill-container [ratio]="{w:2, h:1}">
        <h2>Text on top of a background image cover</h2>
      </app-fill-container>
    </app-background-image>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <ion-item-divider sticky="true">
    <ion-label>Image Shell</ion-label>
  </ion-item-divider>
  <p>
    This component enables to preload an image with an elegant shell that mantains a specified aspect ratio. By doing so, it prevents content from jumping around the page while assets (images) are loading
  </p>
  <p>
    The <code>app-preload-image</code> component must be surrounded by a container element with a defined with, as this component will fill the parents width.
  </p>
  <div style="width:30%; margin: 0px auto;">
    <app-preload-image class="add-spinner" [ratio]="{w:1, h:1}" [src]="" [alt]="'Sample Image'"></app-preload-image>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <ion-item-divider sticky="true">
    <ion-label>Text Shell</ion-label>
  </ion-item-divider>
  <p>
    This component is useful when ...
  </p>
  <p>
    The shell basically works by setting a default (empty / null) value while you are fetching data.
  </p>
  <p>
    You can reset the 'loading' state by re-assigning the data to the empty/null value.
    Empty data will cause the shell to never change it's 'loading' state
  </p>
  <p>
    the text-shell element can be used standalone or wrapped by a text tag (h1, h2, h3, p, etc).
  </p>
  <p>
    We included basic styles to match the different heading styles (mainly line height associated to each heading).
    By matching the line-height of the text-shell with the line height of the wrapper element, we avoid page height bumps after the data gets loaded into the shells.
  </p>
  <h3>
    <app-text-shell [data]="" [attr.element]="'h3'"></app-text-shell>
  </h3>
  <p>
    Multi-line support (up-to 6 lines)
  </p>
  <p>
    <app-text-shell [data]="" [attr.lines]="6"></app-text-shell>
  </p>
  <p>
    Disable animation
  </p>
  <p>
    <app-text-shell [data]="" [attr.lines]="3" class="no-animation"></app-text-shell>
  </p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <ion-item-divider sticky="true">
    <ion-label>Binding Data to Shell Elements</ion-label>
  </ion-item-divider>
  <p>
    You can combine the different shell elements in multiple ways to fit your needs
  </p>
  <ion-row style="background-color: #FFF; padding: 10px; margin: 20px;">
    <ion-col size="12">
      <app-background-image class="add-overlay add-spinner" [src]="">
        <app-fill-container [ratio]="{w:2, h:1}">
          <h4 style="margin: 10px; text-align: center;">
            Image set as a background cover
          </h4>
        </app-fill-container>
      </app-background-image>
    </ion-col>
    <ion-col size="4">
      <app-preload-image class="add-spinner" [ratio]="{w:1, h:1}" [src]="" [alt]="'Sample Image'"></app-preload-image>
    </ion-col>
    <ion-col size="8">
      <h3 style="margin-top: 0px;">
        <app-text-shell [data]="" [attr.element]="'h3'"></app-text-shell>
      </h3>
      <p>
        <app-text-shell [data]="" [attr.lines]="3"></app-text-shell>
      </p>
    </ion-col>
  </ion-row>
  <br/>
  <br/>
  <br/>
  <p>
    Let's set a timeout and fetch data using the HttpClient
  </p>
  <p>
    Data coming in <b>{{ simpleFetchCountdown }} seconds</b>
  </p>
  <ion-row style="background-color: #FFF; padding: 10px; margin: 20px;">
    <ion-col size="12">
      <app-background-image class="add-overlay add-spinner" [src]="simpleFetchData?.cover">
        <app-fill-container [ratio]="{w:2, h:1}">
        </app-fill-container>
      </app-background-image>
    </ion-col>
    <ion-col size="4">
      <app-fill-container [ratio]="{w:1, h:1}">
        <app-preload-image class="add-spinner" [ratio]="{w:1, h:1}" [src]="simpleFetchData?.image" [alt]="'Sample Image'"></app-preload-image>
      </app-fill-container>
    </ion-col>
    <ion-col size="8">
      <h3 style="margin-top: 0px;">
        <app-text-shell [data]="simpleFetchData?.title" [attr.element]="'h3'"></app-text-shell>
      </h3>
      <p>
        <app-text-shell [data]="simpleFetchData?.description" [attr.lines]="3"></app-text-shell>
      </p>
    </ion-col>
  </ion-row>
  <ion-button (click)="showcaseShellSimpleFetch(3)" [disabled]="simpleFetchButtonDisabled">Fetch more Data</ion-button>
  <br/>
  <br/>
  <br/>
  <p>
    Using the SubjectFetch utility you can reduce the amount of boilerplate from the previous example and achieve the same behavior
  </p>
  <ion-row style="background-color: #FFF; padding: 10px; margin: 20px;">
    <ion-col size="12">
      <app-background-image class="add-overlay add-spinner" [src]="(subjectFetchData | async)?.cover">
        <app-fill-container [ratio]="{w:2, h:1}">
        </app-fill-container>
      </app-background-image>
    </ion-col>
    <ion-col size="4">
      <app-preload-image class="add-spinner" [ratio]="{w:1, h:1}" [src]="(subjectFetchData | async)?.image" [alt]="'Sample Image'"></app-preload-image>
    </ion-col>
    <ion-col size="8">
      <h3 style="margin-top: 0px;">
        <app-text-shell [data]="(subjectFetchData | async)?.title" [attr.element]="'h3'"></app-text-shell>
      </h3>
      <p>
        <app-text-shell [data]="(subjectFetchData | async)?.description" [attr.lines]="3"></app-text-shell>
      </p>
    </ion-col>
  </ion-row>
  <ion-button (click)="showcaseShellSubjectFetch()" [disabled]="subjectFetchButtonDisabled">Fetch more Data</ion-button>
  <br/>
  <br/>
  <br/>
  <p>
    SubjectFetch can also be easily plugged in Angular Route Resolvers
  </p>
  <ion-row style="background-color: #FFF; padding: 10px; margin: 20px;">
    <ion-col size="12">
      <app-background-image class="add-overlay add-spinner" [src]="routeResolveData?.cover">
        <app-fill-container [ratio]="{w:2, h:1}">
        </app-fill-container>
      </app-background-image>
    </ion-col>
    <ion-col size="4">
      <app-preload-image class="add-spinner" [ratio]="{w:1, h:1}" [src]="routeResolveData?.image" [alt]="'Sample Image'"></app-preload-image>
    </ion-col>
    <ion-col size="8">
      <h3 style="margin-top: 0px;">
        <app-text-shell [data]="routeResolveData?.title" [attr.element]="'h3'"></app-text-shell>
      </h3>
      <p>
        <app-text-shell [data]="routeResolveData?.description" [attr.lines]="3"></app-text-shell>
      </p>
    </ion-col>
  </ion-row>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</ion-content>
