.listing-item {
  --shell-color: #00AFFF;
  --shell-color-rgb: 0,175,255;
  --travel-listing-margin: var(--app-fair-margin);
  --travel-listing-background: var(--ion-color-lightest);

  padding: 0px 0px var(--travel-listing-margin);
  background-color: var(--travel-listing-background);
  border-bottom: calc(var(--travel-listing-margin) / 2) solid var(--shell-color);

  .image-row {
    --ion-grid-column-padding: 0px;

    app-background-image {
      --loading-background: rgba(var(--shell-color-rgb), .10);
      --overlay-background: rgba(var(--ion-color-dark-rgb), .60);

      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .content-inside-item-image {
      padding: 0px 12%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .item-icon {
        width: 54px;
        align-self: center;
        margin-bottom: 24px;

        app-preload-image {
          --loading-background: rgba(var(--shell-color-rgb), .15);
        }
      }

      .item-name {
        margin: 0px auto;
        padding: calc(var(--travel-listing-margin) / 2) calc(var(--travel-listing-margin));
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        color: var(--ion-color-light);
        display: flex;
        align-items: center;
        background-color: var(--shell-color);
        border-radius: 8px;

        .arrow-icon {
          font-size: 26px;
          margin-left: 6px;
        }

        app-text-shell {
          --c-bg-color: rgba(var(--shell-color-rgb), .25);
          --c-line-height: 20px;
        }
      }

      .item-tagline {
        color: var(--ion-color-light);
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin: calc(var(--travel-listing-margin) / 2) 0px 0px;
        text-align: center;

        app-text-shell {
          --c-bg-color: rgba(var(--shell-color-rgb), .20);
          --c-line-height: 16px;
        }
      }
    }
  }

  .info-row {
    --ion-grid-column-padding: 0px;

    padding: var(--travel-listing-margin);
    padding-bottom: calc(var(--travel-listing-margin) / 2);

    .main-info-col {
      padding-right: calc(var(--travel-listing-margin) / 2);
    }

    .item-name {
      margin: 0px 0px var(--travel-listing-margin);
      text-transform: capitalize;
      font-size: 16px;

      app-text-shell {
        --c-line-height: 16px;
      }

      .name-anchor {
        color: var(--ion-color-dark);
        display: block;
        text-decoration: none;
      }
    }

    .item-description {
      margin: 0px 0px calc(var(--travel-listing-margin) / 2);
      color: var(--ion-color-dark-shade);
      font-size: 14px;
      line-height: 1.3;

      app-text-shell {
        --c-line-height: 14px;
      }
    }

    .item-address {
      margin: 0px;
      color: var(--ion-color-dark-tint);
      font-size: 12px;

      app-text-shell {
        --c-line-height: 12px;
      }
    }
  }

  .stats-row {
    --ion-grid-column-padding: 0px;

    padding: 0px var(--travel-listing-margin);
    justify-content: flex-end;

    .stats-icon {
      font-size: 24px;
    }

    .item-rating {
      display: inline-flex;
      text-align: center;
      justify-content: flex-end;
      margin-right: 10px;

      .rating-value {
        font-size: 16px;
        margin-right: 5px;
        margin: auto;

        app-text-shell {
          --c-line-height: 16px;
        }
      }
    }

    .item-reviews {
      display: inline-flex;
      text-align: center;
      justify-content: flex-end;

      .reviews-count {
        font-size: 16px;
        margin-right: 5px;
        margin: auto;

        app-text-shell {
          --c-line-height: 16px;
        }
      }
    }
  }
}
