<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Shell
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="showcase-content">
  <!-- TODO: Poner algun parrafo explicativo -->
  <ion-list>
    <ion-item [routerLink]="['/showcase/app-shell/aspect-ratio']">
      <ion-label>Aspect Ratio</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/image-shell']">
      <ion-label>Image Shell</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/text-shell']">
      <ion-label>Text Shell</ion-label>
    </ion-item>
  </ion-list>

  <section class="showcase-section">
    <p>
      You can combine the different shell elements in multiple ways to fit your needs
    </p>
    <ion-row style="background-color: #FFF; padding: 10px; margin: 20px;">
      <ion-col size="12">
        <app-image-shell animation="spinner" class="add-overlay" [mode]="'cover'" [src]="">
          <app-aspect-ratio [ratio]="{w:2, h:1}">
            <h4 style="margin: 10px; text-align: center;">Text on top of a background-image container</h4>
          </app-aspect-ratio>
        </app-image-shell>
      </ion-col>
      <ion-col size="4">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell animation="spinner" [src]="" [alt]="'Sample Image'"></app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col size="8">
        <h3 style="margin-top: 0px;">
          <app-text-shell [data]=""></app-text-shell>
        </h3>
        <p>
          <app-text-shell [data]="" lines="3"></app-text-shell>
        </p>
      </ion-col>
    </ion-row>
  </section>

  <h2>HttpClient</h2>
  <ion-list>
    <ion-item [routerLink]="['/showcase/app-shell/simple-data-binding']">
      <ion-label>Simple Data Binding</ion-label>
    </ion-item>
  </ion-list>

  <h2>DataStore</h2>
  <ion-list>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-basic']">
      <ion-label>Basic</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-list']">
      <ion-label>List</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-subset']">
      <ion-label>Subset</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-combined']">
      <ion-label>Combined Data Sources</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-dependant']">
      <ion-label>Dependant Data Sources</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-multiple']">
      <ion-label>Multiple Data Stores</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-pagination']">
      <ion-label>Pagination</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/showcase/app-shell/data-store-stacked']">
      <ion-label>Stacked Shells</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
