<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="showcase/app-shell"></ion-back-button>
    </ion-buttons>
    <ion-title>
      DataStore - Stacked shells example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="showcase-content">
  <section class="showcase-section">
    <p>
      Once you have values coming from the initial data stream, the shell animation would be off. If its an open stream, then each time a new value arrives, it will be added to the view state without the shell animation.
    </p>
    <p>
      This example is handy If you want to change the default functionality and apply independent shell animations to each value coming from the open data stream.
    </p>
    <p>
      <b>Note:</b> For this to work we will be transforming plain values into Observables, thus the need to update our markup and specify the binded model as async.
    </p>
<pre>
&lt;h3&gt;
  &lt;app-text-shell [data]="<b>(user | async)?</b>.first_name">&lt;/app-text-shell&gt;
&lt;/h3&gt;
&lt;p&gt;
  &lt;app-text-shell [data]="<b>(user | async)?</b>.last_name" lines="3">&lt;/app-text-shell&gt;
&lt;/p&gt;
</pre>
    <ion-row style="background-color: #FFF; padding: 10px;" *ngFor="let user of stackedUsers">
      <ion-col size="4">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell animation="spinner" [src]="(user | async)?.avatar" [alt]="'Sample Image'"></app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col size="8">
        <h3 style="margin-top: 0px;">
          <app-text-shell [data]="(user | async)?.first_name"></app-text-shell>
        </h3>
        <p>
          <app-text-shell [data]="(user | async)?.last_name" lines="3"></app-text-shell>
        </p>
      </ion-col>
    </ion-row>
    <ion-button (click)="loadStackedResults()">Push more data</ion-button>
  </section>
</ion-content>
