.not-found-content {
  --not-found-margin: var(--app-fair-margin);

  --padding-start: var(--not-found-margin);
  --padding-end: var(--not-found-margin);
  --padding-top: var(--not-found-margin);
  --padding-bottom: var(--not-found-margin);

  .illustration-wrapper {
    margin: 0px 10%;
  }

  .not-found-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }

  .not-found-text {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 500;
  }

  .go-home-btn {
    margin: 0px;
  }
}
