// TODO:  Deberiamos poner el background color en el ion-content
// TODO:  Poner la variable --ion-background-color-step-50 en nuestro archivo de variables
//        asi no dependemos de sus cambios

.login-content {
  --auth-login-margin: var(--app-broad-margin);
  --auth-login-background: var(--app-background-shade);

  --background: var(--auth-login-background);
  --padding-start: var(--auth-login-margin);
  --padding-end: var(--auth-login-margin);
  --padding-top: var(--auth-login-margin);
  --padding-bottom: var(--auth-login-margin);

  .auth-title {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-top: calc(var(--auth-login-margin) / 2);
    margin-bottom: calc(var(--auth-login-margin) * (3/2));
    letter-spacing: 0.6px;
  }

  .inputs-list {
    --ion-item-background: var(--auth-login-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    .error-container {
      .error-message {
        margin: calc(var(--auth-login-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--auth-login-margin) / 2);
        }
      }
    }
  }

  .login-btn {
    margin: calc(var(--auth-login-margin) / 2) 0px;
  }

  .other-auth-options-row {
    justify-content: space-between;
    align-items: center;

    // TODO: pasar estos estilos como hacemos con los otros botones
    .forgot-btn {
      --color: var(--ion-color-medium);

      margin: 0px;
    }

    // TODO: pasar estos estilos como hacemos con los otros botones
    .signup-btn {
      --color: var(--ion-color-secondary);

      margin: 0px;
    }
  }

  .social-auth-options {
    .options-divider {
      color: var(--ion-color-medium);
  		margin: var(--auth-login-margin) 0px;
  		text-align: center;
    }

    .social-auth-btn {
      margin: 0px;

      &:not(:first-child) {
        margin-top: var(--auth-login-margin);
      }
    }
  }
}
