<ion-tabs>
  <ion-tab label="Categories" icon="home" href="app/tabs/(home:categories)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="app/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Notifications" icon="notifications-outline" href="app/tabs/(notifications:notifications)">
    <ion-router-outlet name="notifications"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
