:host {
  --shell-color: #d9453a;
  --shell-color-rgb: 217,69,58;

  --real-state-details-margin: var(--app-broad-margin);
  --real-state-details-background: var(--app-background-shade);
}

.real-state-details-content {
  --background: var(--real-state-details-background);

  .image-row {
    --ion-grid-column-padding: 0px;

    app-image-shell.details-picture {
      --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
      --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
    }

    .bookmark-icon {
      position: absolute;
      right: var(--real-state-details-margin);
      top: var(--real-state-details-margin);
      font-size: 32px;
      color: var(--shell-color);
    }
  }

  .description-row {
    --ion-grid-column-padding: 0px;

    padding: var(--real-state-details-margin);

    .details-price {
      margin: 0px 0px calc(var(--real-state-details-margin) / 2);
			font-size: 18px;
			font-weight: 600;
      color: var(--ion-color-dark-tint);

      app-text-shell {
        --text-shell-line-color: rgba(var(--shell-color-rgb), .25);
        --text-shell-line-height: 18px;
        max-width: 100px;

        &.text-loaded {
          max-width: inherit;
        }
      }
    }

    .details-address {
      margin: 0px;
      font-size: 14px;
      color: var(--ion-color-medium-tint);

      app-text-shell {
        --text-shell-line-color: rgba(var(--shell-color-rgb), .20);
        --text-shell-line-height: 14px;
        max-width: 60%;

        &.text-loaded {
          max-width: inherit;
        }
      }

      & + .details-address {
        margin-top: 2px;

        app-text-shell {
          max-width: 80%;

          &.text-loaded {
            max-width: inherit;
          }
        }
      }
    }

    .details-description {
      margin: var(--real-state-details-margin) 0px 0px;
      font-size: 14px;
      color: var(--ion-color-medium-shade);

      app-text-shell {
        --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
        --text-shell-line-height: 14px;
      }
    }
  }

  .detail-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-color-dark-tint);
    margin: 0px 0px var(--real-state-details-margin);
  }

  .accommodations-wrapper {
    padding: var(--real-state-details-margin);
    padding-top: calc(var(--real-state-details-margin) / 2);

    .accommodation-row {
      --ion-grid-column-padding: 0px;

      align-items: center;

      & + .accommodation-row {
        padding-top: calc(var(--real-state-details-margin) / 2);
      }

      .icon-wrapper {
        display: flex;
        align-items: center;
      }

      .accommodation-icon {
        font-size: 20px;
        color: var(--ion-color-medium-shade);
      }

      .accommodation-name {
        display: block;
        font-size: 14px;
        color: var(--ion-color-medium-tint);
      }

      .accommodation-value {
        display: block;
        font-size: 16px;
        color: var(--ion-color-medium-tint);

        app-text-shell {
          --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
          --text-shell-line-height: 14px;
          min-width: 30px;

          &.text-loaded {
            min-width: 0px;
          }
        }
      }
    }
  }

  .location-wrapper {
    padding: calc(var(--real-state-details-margin) / 2) 0px var(--real-state-details-margin);

    .location-header {
      padding: 0px var(--real-state-details-margin) 0px;
      margin-bottom: calc(var(--real-state-details-margin) / 2);
    }

    .detail-title {
      margin-bottom: 5px;
    }

    .location-address {
      display: block;
      font-size: 14px;
      color: var(--ion-color-medium-tint);

      app-text-shell {
        --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
        --text-shell-line-height: 14px;
        max-width: 60%;

        &.text-loaded {
          max-width: inherit;
        }
      }
    }

    app-image-shell {
      --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
      --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
    }
  }

  .amenities-wrapper {
    padding: calc(var(--real-state-details-margin) / 2) var(--real-state-details-margin) var(--real-state-details-margin);

    .amenities-tags {
      --amenity-vertical-gutter: 2px;
      --amenity-horizontal-gutter: 4px;
      --ion-grid-column-padding: 0px;

      justify-content: center;
      margin-top: calc(var(--amenity-vertical-gutter) * -1);

      .tag-wrapper {
        padding: var(--amenity-vertical-gutter) var(--amenity-horizontal-gutter) var(--amenity-vertical-gutter) 0px;
        flex-grow: 0;
        min-width: fit-content;

        &:last-child {
          padding-right: 0px;
        }
      }

      .amenity-tag {
        display: block;
        border-radius: var(--app-narrow-radius);
        border: 1px solid var(--ion-color-light-shade);
        padding: var(--amenity-vertical-gutter) var(--amenity-horizontal-gutter);
        font-size: 14px;
        color: var(--ion-color-medium-tint);

        app-text-shell {
          --text-shell-line-color: rgba(var(--shell-color-rgb), .15);
          --text-shell-line-height: 14px;
          min-width: 50px;

          &.text-loaded {
            min-width: 0px;
          }
        }
      }
    }
  }

  .safety-features-wrapper {
    padding: calc(var(--real-state-details-margin) / 2) var(--real-state-details-margin) var(--real-state-details-margin);

    .features-list {
      list-style: none;
      margin: 0px;
      padding: 0px;

      .feature-item {
        font-size: 14px;
        color: var(--ion-color-medium-tint);

        & + .feature-item {
          margin-top: calc(var(--real-state-details-margin) / 2);
        }

        app-text-shell {
          --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
          --text-shell-line-height: 14px;
          max-width: 80%;

          &.text-loaded {
            max-width: inherit;
          }
        }
      }
    }
  }

  .availability-wrapper {
    padding: calc(var(--real-state-details-margin) / 2) var(--real-state-details-margin) var(--real-state-details-margin);

    .availability-row {
      --ion-grid-column-padding: 0px;

      justify-content: space-between;
      align-items: center;

      .availability-description,
      .availability-value {
        font-size: 14px;
        color: var(--ion-color-medium-tint);

        app-text-shell {
          --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
          --text-shell-line-height: 14px;
        }
      }

      .availability-description {
        color: var(--ion-color-medium-tint);
      }

      .availability-value {
        color: var(--shell-color);
      }
    }

    .book-now-btn {
      margin: var(--real-state-details-margin) 0px 0px;
    }
  }
}

:host(.is-shell) {

}
