// https://angular.io/guide/component-styles#host
// The :host selector is the only way to target the host element. You can't reach the host element from inside the
// component with other selectors because it's not part of the component's own template.
:host {
  background-color: #FFE6DC;
}

.getting-started-form {
  height: 100%;
}

ion-slides {
  height: 100%;
  --bullet-background: #4D301C;
  --bullet-background-active: #4D301C;
}

.question-title {
  color: #4D301C;
  text-align: center;
  margin: 6px 18% 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.question-paragraph {
  color: #4D301C;
  text-align: center;
  margin: 8px 9%;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.question-options {
  margin: 30px 9% 0;
  background: transparent;

  .question-option {
    --padding-start: 0px;
    --ion-item-background: #4D301C;
    --ion-item-color: #FFF;

    text-align: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.item-radio-checked {
      --ion-item-background: #FF984C;
    }

    ion-label {
      margin: 10px 0px;
    }

    ion-radio {
      margin: 0px;

      // To hide the .radio-icon
      --width: 0px;
      --border-width: 0px;
      --height: 0px;
    }
  }
}

.interests-to-follow-slide {
  .heading-col {
    max-height: 16%;
    max-height: fit-content;
  }

  .question-options-col {
    overflow: scroll

  }

  .call-to-action-col {
    max-height: 10%;
    max-height: fit-content;
  }
}

ion-checkbox {
  --size: 100%;
  --border-radius: 0px;
  --background: transparent;
  --background-checked: #{rgba(grey, .8)};
}

.spam-el {
  color: #FFF;
  font-weight: 500;
}


// TODO: Needs refactoring

ion-header {
  ion-toolbar {
    --background: transparent;
  }
}

ion-content {
  --background: transparent;
}


// Esto no funciona por la encapsulacion de Angular.
// Si le pongo encapsulation: None funciona pero se rompe los estilos de :host y :host-context
// Si le pongo encapsulation: Native (Shadow DOM) se rompe el back cuando se vuelve a la pagina de getting started
// .custom-checkbox {
::ng-deep .custom-checkbox {
  .fucking-wrapper {
    &.checkbox-checked {
      .spam-el {
        display: none;
      }
    }
  }
}
