<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" fill="clear" href="auth/login">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="gettingStartedForm" class="getting-started-form">
    <ion-slides pager="true">
      <ion-slide>
        <ion-grid style="height: 100%; width: 100%; /*to prevent narrow slide before image get's loaded*/ padding-bottom: 2.125rem;/*To compensate slider pager*/">
          <ion-row style="height: 100%;">
            <ion-col size="12">
              <h2 class="question-title">What are you browsing for?</h2>
              <ion-list class="question-options">
                <ion-radio-group formControlName="browsingCategory">
                  <ion-item class="question-option">
                    <ion-label>Woman</ion-label>
                    <ion-radio value="woman"></ion-radio>
                  </ion-item>
                  <ion-item class="question-option">
                    <ion-label>Men</ion-label>
                    <ion-radio value="men"></ion-radio>
                  </ion-item>
                  <ion-item class="question-option">
                    <ion-label>Kids</ion-label>
                    <ion-radio value="kids"></ion-radio>
                  </ion-item>
                  <ion-item class="question-option">
                    <ion-label>Petit</ion-label>
                    <ion-radio value="petit"></ion-radio>
                  </ion-item>
                  <ion-item class="question-option">
                    <ion-label>Plus Size</ion-label>
                    <ion-radio value="plus-size"></ion-radio>
                  </ion-item>
                  <ion-item class="question-option">
                    <ion-label>New In</ion-label>
                    <ion-radio value="new-in"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide class="interests-to-follow-slide">
        <ion-grid style="height: 100%; width: 100%; /*to prevent narrow slide before image get's loaded*/ padding-bottom: 2.125rem;/*To compensate slider pager*/">
          <ion-row style="height: 100%; flex-flow: column; justify-content: space-between;">
            <ion-col class="heading-col">
              <h2 class="question-title">Pick categories to follow</h2>
              <p class="question-paragraph">
                You can add or change them later
              </p>
            </ion-col>
            <ion-col class="question-options-col">
              <ion-row formGroupName="followingInterests">
                <ion-col size="6">
                  <app-custom-checkbox class="custom-checkbox">
                    <app-background-image [src]="'./assets/sample-images/getting-started/category1-1.1.png'" class="add-overlay">
                      <app-fill-container [ratio]="{w:1, h:1}">
                        <span class="spam-el">Tops</span>
                        <ion-checkbox formControlName="tops"></ion-checkbox>
                      </app-fill-container>
                    </app-background-image>
                  </app-custom-checkbox>
                </ion-col>
                <ion-col size="6">
                  <app-custom-checkbox class="custom-checkbox">
                    <app-background-image [src]="'./assets/sample-images/getting-started/category2-1.1.png'" class="add-overlay">
                      <app-fill-container [ratio]="{w:1, h:1}">
                        <span class="spam-el">Dresses</span>
                        <ion-checkbox formControlName="dresses"></ion-checkbox>
                      </app-fill-container>
                    </app-background-image>
                  </app-custom-checkbox>
                </ion-col>
                <ion-col size="6">
                  <app-custom-checkbox class="custom-checkbox">
                    <app-background-image [src]="'./assets/sample-images/getting-started/category3-1.1.png'" class="add-overlay">
                      <app-fill-container [ratio]="{w:1, h:1}">
                        <span class="spam-el">Jeans</span>
                        <ion-checkbox formControlName="jeans"></ion-checkbox>
                      </app-fill-container>
                    </app-background-image>
                  </app-custom-checkbox>
                </ion-col>
                <ion-col size="6">
                  <app-custom-checkbox class="custom-checkbox">
                    <app-background-image [src]="'./assets/sample-images/getting-started/category4-1.1.png'" class="add-overlay">
                      <app-fill-container [ratio]="{w:1, h:1}">
                        <span class="spam-el">Jackets</span>
                        <ion-checkbox formControlName="jackets"></ion-checkbox>
                      </app-fill-container>
                    </app-background-image>
                  </app-custom-checkbox>
                </ion-col>
                <ion-col size="6">
                  <app-custom-checkbox class="custom-checkbox">
                    <app-background-image [src]="'./assets/sample-images/getting-started/category5-1.1.png'" class="add-overlay">
                      <app-fill-container [ratio]="{w:1, h:1}">
                        <span class="spam-el">Shoes</span>
                        <ion-checkbox formControlName="shoes"></ion-checkbox>
                      </app-fill-container>
                    </app-background-image>
                  </app-custom-checkbox>
                </ion-col>
                <ion-col size="6">
                  <app-custom-checkbox class="custom-checkbox">
                    <app-background-image [src]="'./assets/sample-images/getting-started/category6-1.1.png'" class="add-overlay">
                      <app-fill-container [ratio]="{w:1, h:1}">
                        <span class="spam-el">Glasses</span>
                        <ion-checkbox formControlName="glasses"></ion-checkbox>
                      </app-fill-container>
                    </app-background-image>
                  </app-custom-checkbox>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="call-to-action-col">
              <ion-button color="medium" expand="block" href="auth/signup">Signup</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
