ion-header {
  ion-toolbar {
    --background: #FFE6DC;
  }
}

ion-content {
  --background: #FFE6DC;
}

.getting-started-form {
  height: 100%;
}

.getting-started-wrapper {
  // Structural styles
  --ion-grid-column-padding: 0px;

  height: 100%;
  flex-flow: column;
  justify-content: space-between;

  .slides-col {
    .getting-started-slides {
      height: 100%;
      --bullet-background: #4D301C;
      --bullet-background-active: #4D301C;

      .swiper-pagination {
        bottom: 0px;
      }

      .slide-inner-row {
        height: 100%;
        width: 100%;
        padding: 5px 5px 20px;
      }
    }
  }

  .call-to-action-col {
    max-height: 10%;
    max-height: fit-content;
    padding: 8px;

    .signup-button {
      visibility: hidden;
    }
  }

  &.last-slide {
    .getting-started-slides {
      .swiper-pagination {
        display: none;
      }
    }

    .signup-button {
      visibility: inherit;
    }
  }

  // Slides details styles
  .getting-started-slides {
    .slide-title {
      color: #4D301C;
      text-align: center;
      margin: 6px 18% 0;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
    }

    .slide-subtitle {
      color: #4D301C;
      text-align: center;
      margin: 8px 9%;
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;
    }
  }

  .browsing-categories-slide {
    .question-options-list {
      margin: 30px 6% 0;
      background: transparent;

      .question-option {
        --padding-start: 0px;
        --ion-item-background: #4D301C;
        --ion-item-color: #FFF;

        text-align: center;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &.item-radio-checked {
          --ion-item-background: #FF984C;
        }

        ion-label {
          margin: 10px 0px;
        }

        ion-radio {
          margin: 0px;

          // To hide the .radio-icon
          --width: 0px;
          --border-width: 0px;
          --height: 0px;
          // We cant set width and height for .radio-icon .radio-inner, so lets hide it changing its color
          --color-checked: transparent;
        }
      }
    }
  }

  .interests-to-follow-slide {
    .slide-inner-row {
      flex-flow: column;
      justify-content: space-between;
    }

    .heading-col {
      max-height: 16%;
      max-height: fit-content;
    }

    .question-options-col {
      --ion-grid-column-padding: 5px;

      overflow: scroll;

      // Hide scrollbars: https://stackoverflow.com/a/38994837/1116959
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox
      // Safari and Chrome
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .call-to-action-col {
      max-height: 10%;
      max-height: fit-content;
    }

    .custom-checkbox {
      .checkbox-title {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 22px;
        color: #FFF;
        text-align: center;
        word-break: break-word;
        overflow: visible;

        position: absolute;
        width: 70%;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
      }

      &.checkbox-checked {
        .checkbox-title {
          display: none;
        }
      }

      ion-checkbox {
        --size: 100%;
        --border-radius: 0px;
        --border-width: 0px;
        --background: transparent;
        --background-checked: #{ rgba(#FF984C, .6) };

        // Note: We cannote change the styles of the .checkbox-icon because it's inside the shadow dom.
        // An alternative would be to set --size to 0px and add a custom overlay and icon in the <custom-checkbox> html
      }
    }
  }
}
