<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-anchor href="app/tabs/(home:product/pepe)">Fashion</ion-anchor>
      </ion-col>
      <ion-col size="6">
        <ion-anchor href="app/tabs/(home:product/pepe)">Food</ion-anchor>
      </ion-col>
      <ion-col size="6">
        <ion-anchor href="app/tabs/(home:product/pepe)">Travel</ion-anchor>
      </ion-col>
      <ion-col size="6">
        <ion-anchor href="app/tabs/(home:product/pepe)">Deals</ion-anchor>
      </ion-col>
      <ion-col size="6">
        <ion-anchor href="app/tabs/(home:product/pepe)">Real State</ion-anchor>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
