<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-fill-container [ratio]="{w:2, h:1}">
          <ion-anchor class="category-item" href="app/tabs/(home:travel)">
            <h3 style="margin:0px;">Travel</h3>
          </ion-anchor>
        </app-fill-container>
      </ion-col>
      <ion-col size="6">
        <app-fill-container [ratio]="{w:4, h:3}">
          <ion-anchor class="category-item" href="app/tabs/(home:fashion)">
            <h3 style="margin:0px;">Fashion</h3>
          </ion-anchor>
        </app-fill-container>
      </ion-col>
      <ion-col size="6">
        <app-fill-container [ratio]="{w:4, h:3}">
          <ion-anchor class="category-item" href="app/tabs/(home:fashion)">
            <h3 style="margin:0px;">Food</h3>
          </ion-anchor>
        </app-fill-container>
      </ion-col>
      <ion-col size="6">
        <app-fill-container [ratio]="{w:1, h:1}">
          <ion-anchor class="category-item" href="app/tabs/(home:fashion)">
            <h3 style="margin:0px;">Deals</h3>
          </ion-anchor>
        </app-fill-container>
      </ion-col>
      <ion-col size="6">
        <app-fill-container [ratio]="{w:1, h:1}">
          <ion-anchor class="category-item" href="app/tabs/(home:fashion)">
            <h3 style="margin:0px;">Real State</h3>
          </ion-anchor>
        </app-fill-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
