<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>Real State Listing</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [ngClass]="{'shell': (listing.isShell)}"> -->
<ion-content>
  <ng-container *ngIf="listing?.items">
    <div class="listing-item" *ngFor="let item of listing.items">
      <ion-row class="image-row">
        <ion-col size="12">
          <a class="image-anchor" [routerLink]="['/app/tabs/real-state/', item.slug]">
            <app-background-image class="add-spinner" [src]="item.picture">
              <app-fill-container [ratio]="{w:365, h:125}">
              </app-fill-container>
            </app-background-image>
          </a>
        </ion-col>
      </ion-row>
      <ion-row class="description-row">
        <ion-col size="12">
          <h4 class="item-price">
            <a class="price-anchor" [routerLink]="['/app/tabs/real-state/', item.slug]">
              <app-text-shell [data]="item.price" [attr.element]="'h4'" class="no-animation"></app-text-shell>
            </a>
          </h4>
          <p class="item-address">
            <app-text-shell [data]="item.address" [attr.lines]="1"></app-text-shell>
          </p>
        </ion-col>
        <ion-col size="12">
          <ion-row class="accommodations-wrapper">
            <ion-col class="item-accommodation">
              <span class="accommodation-value">
                <app-text-shell [data]="item.accommodations?.guests" class="no-animation"></app-text-shell>
              </span>
              <span class="accommodation-name">guests</span>
            </ion-col>
            <ion-col class="item-accommodation">
              <span class="accommodation-value">
                <app-text-shell [data]="item.accommodations?.bedrooms" class="no-animation"></app-text-shell>
              </span>
              <span class="accommodation-name">bedrooms</span>
            </ion-col>
            <ion-col class="item-accommodation">
              <span class="accommodation-value">
                <app-text-shell [data]="item.accommodations?.beds" class="no-animation"></app-text-shell>
              </span>
              <ion-icon class="accommodation-icon" src="./assets/sample-icons/real-state/bed.svg"></ion-icon>
            </ion-col>
            <ion-col class="item-accommodation">
              <span class="accommodation-value">
                <app-text-shell [data]="item.accommodations?.bathrooms" class="no-animation"></app-text-shell>
              </span>
              <ion-icon class="accommodation-icon" src="./assets/sample-icons/real-state/bathroom.svg"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" *ngIf="item.amenities">
          <h5 class="amenities-title">Amenities</h5>
          <ion-row class="amenities-wrapper">
            <ng-container>
              <ion-col class="item-amenity" size="4" *ngFor="let amenity of item.amenities.slice(0, 4); let i = index">
                <ion-icon class="amenity-icon" [src]="amenity.icon"></ion-icon>
                <span class="amenity-value">
                  <app-text-shell [data]="amenity.name" class="no-animation"></app-text-shell>
                </span>
              </ion-col>
              <ion-col class="has-more-amenities" *ngIf="i == 3 && item.amenities.length > 4">
                <span class="amenities-count">+{{ item.amenities.length - 4 }}</span>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>
