:host {
  --shell-color: #d9453a;
  --shell-color-rgb: 217,69,58;

  --real-state-listing-margin: var(--app-broad-margin);
  --real-state-listing-background: var(--app-background-color);
}

.real-state-listing-content {
  --background: var(--real-state-listing-background);
}

.listing-item {
  .image-row {
    --ion-grid-column-padding: 0px;

    app-background-image {
      --loading-background: rgba(var(--shell-color-rgb), .10);
      --spinner-color: rgba(var(--shell-color-rgb), .25);
    }

    .image-anchor {
      display: block;
    }
  }

  .description-row {
    --ion-grid-column-padding: 0px;

    padding: calc(var(--real-state-listing-margin) / 2) var(--real-state-listing-margin) var(--real-state-listing-margin);

    .item-price {
      margin: 0px 0px 5px;
			font-size: 16px;
			font-weight: 600;
      color: var(--ion-color-dark-tint);

      .price-anchor {
        text-decoration: none;
      }

      app-text-shell {
        --c-bg-color: rgba(var(--shell-color-rgb), .25);
        --c-line-height: 16px;
        max-width: 100px;

        &.text-loaded {
          max-width: inherit;
        }
      }
    }

    .item-address {
      margin: 0px;
      font-size: 14px;
      color: var(--ion-color-medium-tint);

      app-text-shell {
        --c-bg-color: rgba(var(--shell-color-rgb), .20);
        --c-line-height: 14px;
        max-width: 60%;

        &.text-loaded {
          max-width: inherit;
        }
      }
    }

    .accommodations-wrapper {
      padding-top: calc(var(--real-state-listing-margin) / 2);
      justify-content: space-between;
    }

    .item-accommodation {
      display: flex;
      align-items: center;
      max-width: fit-content;

      & + .item-accommodation {
        padding-left: calc(var(--real-state-listing-margin) / 2);
      }

      .accommodation-value {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        color: var(--ion-color-medium-tint);
        margin-right: 5px;

        app-text-shell {
          --c-bg-color: rgba(var(--shell-color-rgb), .10);
          --c-line-height: 14px;
          min-width: 30px;

          &.text-loaded {
            min-width: 0px;
          }
        }
      }

      .accommodation-name {
        display: inline-block;
        font-size: 12px;
        color: var(--ion-color-medium-tint);
      }

      .accommodation-icon {
        color: var(--ion-color-medium-tint);
      }
    }

    .amenities-title {
      margin: var(--real-state-listing-margin) 0px calc(var(--real-state-listing-margin) / 2);
      font-size: 12px;
			font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--ion-color-medium-shade);
    }

    .amenities-wrapper {
      --amenity-vertical-gutter: 6px;
      --amenity-horizontal-gutter: 4px;

      margin: 0px calc(var(--amenity-horizontal-gutter) * -1);

      .item-amenity {
        display: flex;
        align-items: center;
        padding: var(--amenity-vertical-gutter) var(--amenity-horizontal-gutter);

        .amenity-icon {
          color: var(--ion-color-medium-tint);
          font-size: 24px;
          flex-shrink: 0;
        }

        .amenity-value {
          display: block;
          font-weight: 300;
          font-size: 12px;
          color: var(--ion-color-medium-tint);
          margin-left: calc(var(--amenity-horizontal-gutter) * 2);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          app-text-shell {
            --c-bg-color: rgba(var(--shell-color-rgb), .05);
            --c-line-height: 12px;
            min-width: 50px;

            &.text-loaded {
              min-width: 0px;
            }
          }
        }
      }
    }
  }
}

:host(.is-shell) {

}
