:host {
  --shell-color: #ebbb00;
  --shell-color-rgb: 235,187,0;
  --rating-5-color: #7ce198;
  --rating-4-color: #a8e07c;
  --rating-3-color: #cee07c;
  --rating-2-color: #e0c77c;
  --rating-1-color: #e07c7c;

  --food-listing-margin: var(--app-fair-margin);
  --food-listing-background: var(--ion-color-lightest);

  --pictures-gutter: calc(var(--food-listing-margin) / 4);
}

.food-listing-content {
  --background: var(--food-listing-background);
  --padding-start: var(--food-listing-margin);
  --padding-end: var(--food-listing-margin);
  --padding-top: var(--food-listing-margin);
  --padding-bottom: var(--food-listing-margin);
}

.listing-item {
  border-bottom: 2px solid var(--ion-color-medium-tint);
  margin-bottom: calc(var(--food-listing-margin) * 2);
  padding-bottom: var(--food-listing-margin);

  &:last-child {
		border-bottom: none;
		margin-bottom: 0px;
	}

  app-preload-image {
    --loading-background: rgba(var(--shell-color-rgb), .10);
    --spinner-color: rgba(var(--shell-color-rgb), .25);
  }

  .info-row {
    --ion-grid-columns: 10;
    --ion-grid-column-padding: 0px;

    margin: 0px calc(var(--pictures-gutter) * -1);
		padding-bottom: var(--food-listing-margin);

    // To compensate negative side margins of .pictures-row (sibling of .info-row)
    &::before,
    &::after {
      content: '';
      flex: 0 0 var(--pictures-gutter);
    }

    .icon-col {
      padding-right: calc(var(--food-listing-margin) / 2);

      .icon-anchor {
        display: block;
      }

      app-preload-image {
        --image-border-radius: var(--app-narrow-radius);
      }
    }

    .description-col {
      .description-wrapper {
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
      }

      .item-name {
        margin: 0px;
        color: var(--ion-color-dark-tint);
        font-size: 14px;

        .name-anchor {
          display: block;
          text-decoration: none;
        }

        app-text-shell {
          --c-bg-color: rgba(var(--shell-color-rgb), .25);
          --c-line-height: 14px;
        }
      }

      .item-address {
        margin: 0px;
        margin-top: 5px;
        color: var(--ion-color-medium-tint);
        font-size: 12px;

        app-text-shell {
          --c-bg-color: rgba(var(--shell-color-rgb), .20);
          --c-line-height: 12px;
        }
      }

      .item-tags {
        --tags-gutter: 4px;

        margin-top: 5px;

        .tag-wrapper {
          padding-right: var(--tags-gutter);
          flex-grow: 0;
          min-width: fit-content;

          &:last-child {
            padding-right: 0px;
          }
        }

        .item-tag {
          display: block;
          border-radius: var(--app-narrow-radius);
					border: 1px solid var(--ion-color-light-shade);
					padding: calc(var(--tags-gutter) / 2) var(--tags-gutter);
					font-size: 10px;
					color: var(--ion-color-medium-tint);

          app-text-shell {
            --c-bg-color: rgba(var(--shell-color-rgb), .15);
            --c-line-height: 10px;
            min-width: 30px;

            &.text-loaded {
              min-width: 0px;
            }
          }
        }
      }
    }

    .stats-col {
      padding-left: calc(var(--food-listing-margin) / 2);

      .item-rating {
				color: var(--ion-color-lightest);
				border-radius: var(--app-narrow-radius);
				padding: calc(var(--food-listing-margin) / 4) calc(var(--food-listing-margin) / 2);
			  font-size: 12px;
			  font-weight: 600;
			  width: 100%;
			  display: block;
			  text-align: center;

				&[ratingBase="1"] {
					background-color: var(--rating-1-color);
				}
				&[ratingBase="2"] {
					background-color: var(--rating-2-color);
				}
				&[ratingBase="3"] {
					background-color: var(--rating-3-color);
				}
				&[ratingBase="4"] {
					background-color: var(--rating-4-color);
				}
				&[ratingBase="5"] {
					background-color: var(--rating-5-color);
				}

        app-text-shell {
          --c-bg-color: rgba(var(--shell-color-rgb), .15);
          --c-line-height: 12px;
        }
			}

      .item-price-range {
        margin-top: 5px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        text-align: center;

        .price {
          color: var(--shell-color);
        }

        .no-price {
          color: rgba(var(--ion-color-light-shade-rgb), .40);
        }
      }
    }
	}

  .pictures-row {
    --ion-grid-columns: 10;
    --ion-grid-column-padding: 0px;

    margin: 0px calc(var(--pictures-gutter) * -1);

    .picture-wrapper {
      padding: 0px var(--pictures-gutter);

      app-preload-image {
        --image-border-radius: var(--app-narrow-radius);
      }

      .has-more-pictures {
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
        // To compensate the .picture-wrapper padding
        margin: 0px var(--pictures-gutter);
				background-color: rgba(var(--shell-color-rgb), .70);
        border-radius: var(--app-narrow-radius);
				display: flex;
				align-items: center;
				justify-content: center;
        text-decoration: none;

				.pictures-count {
					font-size: 22px;
					color: var(--ion-color-lightest);
					font-weight: 600;

					&::before {
						content: '+';
						font-size: 26px;
						color: var(--ion-color-lightest);
						font-weight: 600;
					}
				}
			}
    }
  }
}
