app-countdown-timer {
  --countdown-time-margin: 2px;
  --countdown-time-padding: 0px;
  --countdown-time-inner-padding: 0px;
  --countdown-time-border: none;
  --countdown-time-border-radius: 0px;
  --countdown-time-background: transparent;
  --countdown-time-shadow: none;
  --countdown-time-color: #808080;
  --countdown-time-text-shadow: none;
  --countdown-time-flex-direction: row-reverse;

  --countdown-alt-color: #808080;

  display: block;

  .countdown-row {
    --ion-grid-column-padding: var(--countdown-time-inner-padding);

    justify-content: center;
    flex-wrap: nowrap;

    .time-col {
      display: flex;
      flex-direction: var(--countdown-time-flex-direction);
      align-items: center;
      justify-content: center;
    }
  }

  .time-wrapper {
    margin: var(--countdown-time-margin);
    padding: var(--countdown-time-padding);
    border: var(--countdown-time-border);
    border-radius: var(--countdown-time-border-radius);
    background-color: var(--countdown-time-background);
    box-shadow: var(--countdown-time-shadow);

    .time-left {
      display: block;
      color: var(--countdown-time-color);
      text-shadow: var(--countdown-time-text-shadow);
      text-align: center;
      font-size: 1em;
      line-height: 1em;
      min-height: 1em;

      // Make sure we always have space for two characters
      // As ch (width of the character '0') unit is not 100% supported, we will use ex (height of the 'x' character) as a fallback
      // See: https://www.quirksmode.org/css/units-values/
      min-width: 2.2ex; // The 'x' character is semi-square char, that's why we set 2.2ex
      min-width: 2.1ch; // ch is the only font unit based on the width of characters
    }
  }

  .time-alt-text {
    display: block;
    color: var(--countdown-alt-color);
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
    width: 2ex;
  }
}
