<ion-row class="countdown-row">
  <ion-col class="time-col" *ngIf="_initialUnit === 'day'">
    <span class="time-alt-text">D</span>
    <div class="time-wrapper">
      <span class="time-left">{{ _daysLeft }}</span>
    </div>
  </ion-col>
  <ion-col class="time-col" *ngIf="(_initialUnit === 'day' && _endingUnit !== 'day') || _initialUnit === 'hour' || _endingUnit === 'hour'">
    <span class="time-alt-text">H</span>
    <div class="time-wrapper">
      <span class="time-left">{{ _hoursLeft }}</span>
    </div>
  </ion-col>
  <ion-col class="time-col" *ngIf="(_initialUnit === 'day' && (_endingUnit !== 'day' && _endingUnit !== 'hour')) || (_initialUnit === 'hour' && _endingUnit !== 'hour') || _initialUnit === 'minute'">
    <span class="time-alt-text">M</span>
    <div class="time-wrapper">
      <span class="time-left">{{ _minutesLeft }}</span>
    </div>
  </ion-col>
  <ion-col class="time-col" *ngIf="_endingUnit === 'second'">
    <span class="time-alt-text">S</span>
    <div class="time-wrapper">
      <span class="time-left">{{ _secondsLeft }}</span>
    </div>
  </ion-col>
</ion-row>
