// TODO: replace with this mixin
// @mixin custom-button-color($color){
//   @content;
//
//   .ion-color-#{$color} {
//     --ion-color-base: var(--ion-color-#{$color}) !important;
//     --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
//     --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
//     --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
//     --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
//     --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
//   }
// }
//
// :host {
//   @include custom-button-color('claim') {
//     --ion-color-claim: #70df70;
//     --ion-color-claim-rgb: 112,223,112;
//     --ion-color-claim-contrast: #000000;
//     --ion-color-claim-contrast-rgb: 0,0,0;
//     --ion-color-claim-shade: #63c463;
//     --ion-color-claim-tint: #7ee27e;
//   }
// }


// Custom Button Colors
:root {
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59,89,152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  --ion-color-google: #cc181e;
  --ion-color-google-rgb: 204,24,30;
  --ion-color-google-contrast: #ffffff;
  --ion-color-google-contrast-rgb: 255,255,255;
  --ion-color-google-shade: #b4151a;
  --ion-color-google-tint: #d12f35;

  --ion-color-twitter: #00aced;
  --ion-color-twitter-rgb: 0,172,237;
  --ion-color-twitter-contrast: #ffffff;
  --ion-color-twitter-contrast-rgb: 255,255,255;
  --ion-color-twitter-shade: #0097d1;
  --ion-color-twitter-tint: #1ab4ef;
}

$customColors: ('facebook', 'google', 'twitter');

@each $color in $customColors {
  .ion-color-#{$color} {
  --ion-color-base: var(--ion-color-#{$color}) !important;
  --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
  --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
  --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }
}
