<ion-app>
  <ion-menu contentId="main-content" swipeEnabled="false">
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-anchor href="/app/tabs/(home:categories)">
            Home
          </ion-anchor>
        </ion-item>
        <ion-item>
          <ion-anchor href="forms">
            Forms
          </ion-anchor>
        </ion-item>
        <ion-item>
          <ion-anchor href="layouts">
            Layouts
          </ion-anchor>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
