.user-details-section {
  --ion-grid-column-padding: 0px;

  margin: 10px 12px;

  .user-image-wrapper {
    max-width: 26%;

    app-preload-image.user-image {
      --image-border-radius: 8px;
    }
  }

  .user-info-wrapper {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    .user-data-row {
      padding-bottom: 10px;
      flex-wrap: nowrap;

      .user-name {
        margin: 0px 0px 5px;
        font-size: 20px;
        letter-spacing: 0.5px;

        app-text-shell {
          --c-line-height: 20px;
        }
      }

      .user-title {
        margin: 0px;
        color: var(--ion-color-medium);
        font-size: 16px;

        app-text-shell {
          --c-line-height: 16px;
        }
      }

      .membership-col {
        padding-left: 10px;
        flex-grow: 0;
      }

      .user-membership {
        display: block;
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-lightest);
        border-radius: 4px;
        padding: 4px 8px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;

        app-text-shell {
          --c-bg-color: var(--ion-color-secondary);
          --c-line-height: 14px;
          min-width: 30px;

          &.text-loaded {
            min-width: 0px;
          }
        }
      }
    }

    .actions-row {
      --ion-grid-columns: 10;
      --ion-grid-column-padding: 5px;

      justify-content: space-between;
      margin-left: -5px;
      margin-right: -5px;

      .main-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: -5px;
        margin-right: -5px;
        display: flex;

        .call-to-action-btn {
          padding: 0px 5px;
          margin: 0px;
        }
      }

      .secondary-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;

        .more-btn {
          --padding-start: 4px;
          --padding-end: 4px;

          margin: 0px;
        }
      }
    }
  }
}

.user-stats-section {
  --ion-grid-column-padding: 5px;

  margin: 30px 12px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--ion-color-light-shade);

  .user-stats-wrapper {
    text-align: center;

    .stat-value {
      display: block;
      padding-bottom: 5px;
      color: var(--ion-color-primary-tint);
      font-weight: 500;
      font-size: 18px;

      app-text-shell {
        --c-line-height: 18px;
        min-width: 30px;

        &.text-loaded {
          min-width: 0px;
        }
      }
    }

    .stat-name {
      font-size: 16px;
      color: var(--ion-color-medium);
    }
  }
}

.details-section-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--ion-color-dark-tint);
  margin: 0px 0px 15px;
}

.user-about-section {
  margin: 20px 12px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--ion-color-light-shade);

  .user-description {
    color: var(--ion-color-primary-tint);
    text-align: justify;
    margin: 10px 0px;
    font-size: 14px;
    line-height: 1.3;

    app-text-shell {
      --c-line-height: 14px;
    }
  }
}

.user-friends-section {
  margin: 20px 12px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--ion-color-light-shade);

  .heading-row {
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;

    .details-section-title {
      margin: 0px;
    }

    .heading-call-to-action {
      padding: 6px 3px;
      text-decoration: none;
      color: var(--ion-color-secondary);
    }
  }

  .friends-row {
    --ion-grid-columns: 7; // We want to show three friends and a half. Each friend fills 2 cols => (3.5 * 2 = 7 cols)
    --ion-grid-column-padding: 0px;

    flex-wrap: nowrap;
    overflow-x: scroll;
    will-change: scroll-position;
    margin-left: -12px;
    margin-right: -12px;

    // Hide scrollbars: https://stackoverflow.com/a/38994837/1116959
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    // Safari and Chrome
    &::-webkit-scrollbar {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      // .friend-item has 8px of side padding, we need an extra 4px at the beginning and end to fill the 12px side margin of the view
      flex: 0 0 4px;
    }

    .friend-item {
      padding: 0px 8px;

      app-preload-image.friend-picture {
        --image-border-radius: 8px;
      }

      .friend-name {
        display: block;
        text-align: center;
        margin: 10px 0px;
        font-size: 14px;

        app-text-shell {
          --c-line-height: 14px;
        }
      }
    }
  }
}

.user-photos-section {
  margin: 20px 12px 10px;
  padding-bottom: 20px;

  .heading-row {
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;

    .details-section-title {
      margin: 0px;
    }

    .heading-call-to-action {
      padding: 6px 3px;
      text-decoration: none;
      color: var(--ion-color-secondary);
    }
  }

  .pictures-row {
    --ion-grid-columns: 4;
    --ion-grid-column-padding: 0px;

    margin: 0px -8px;

    .picture-item {
      padding: 0px 8px 16px;

      app-preload-image.picture {
        --image-border-radius: 8px;
      }
    }
  }
}
