:host {
  --shell-color: #cb328f;
  --shell-color-rgb: 203,50,143;
  --fashion-listing-margin: var(--app-fair-margin);
  --fashion-listing-background: var(--ion-color-lightest);
}

.fashion-listing-content {
  --background: var(--fashion-listing-background);
  --padding-start: var(--fashion-listing-margin);
  --padding-end: var(--fashion-listing-margin);
  --padding-top: var(--fashion-listing-margin);
  --padding-bottom: var(--fashion-listing-margin);
}

.items-row {
  --ion-grid-column-padding: 0;
  --items-gutter: calc(var(--fashion-listing-margin) / 2);

  // TODO: quizas podemos extraer estos estilos ya que son iguales a los de details
  // Aunque hay nombres de clases y markup un poco diferente
  .listing-item {
    margin-bottom: calc(var(--fashion-listing-margin) * 2);

    &:nth-child(odd) {
      padding-right: var(--items-gutter);
    }

    &:nth-child(even) {
      padding-left: var(--items-gutter);
    }

    .item-image {
      border: 1px solid var(--ion-color-light-shade);

      app-image-shell {
        --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
        --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
      }

      .image-anchor {
        display: block;
      }
    }

    .item-body {
      --ion-grid-column-padding: 0px;

      padding: 5px 5px 0px;
      text-align: center;

      .main-info {
        margin-bottom: calc(var(--fashion-listing-margin) / 2);

        .item-name {
          margin: 0px;
          font-size: 14px;
          font-weight: 400;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .name-anchor {
            color: var(--ion-color-primary);
            display: block;
            text-decoration: none;
          }

          app-text-shell {
            --text-shell-line-height: 14px;
            --text-shell-line-color: rgba(var(--shell-color-rgb), .25);
          }
        }
      }

      .secondary-info {
        align-items: center;

        .price-col {
          &:first-child {
            padding-right: calc(var(--fashion-listing-margin) / 2);
            text-align: right;

            &:last-child {
              text-align: center;
            }
          }

          &:last-child {
            padding-left: calc(var(--fashion-listing-margin) / 2);
            text-align: left;
          }
        }

        .separator {
          max-width: 0px;
          border-right: solid 2px var(--ion-color-light-shade);
          align-self: stretch;
        }

        .item-sale-price {
          display: block;
          font-weight: 400;
          color: var(--shell-color);
          font-size: 16px;

          app-text-shell {
            --text-shell-line-height: 16px;
            --text-shell-line-color: rgba(var(--shell-color-rgb), .20);
          }
        }

        .item-original-price {
          display: block;
          text-decoration: line-through;
          color: var(--ion-color-medium-shade);
          font-size: 14px;

          app-text-shell {
            --text-shell-line-height: 16px;
            --text-shell-line-color: rgba(var(--shell-color-rgb), .20);
          }
        }
      }
    }
  }
}
