<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Filters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="filters-content">
  <ion-item-group class="filters-group">

    <ion-item-divider>
      <ion-label>
        Range
      </ion-label>
    </ion-item-divider>

    <form class="ranges" [formGroup]="rangeForm">
      <ion-list lines="full">
        <div class="range-title">
          <span>{{rangeForm.controls.dual.value.lower}}</span>
          <span>Quantity</span>
          <span>{{rangeForm.controls.dual.value.upper}}</span>
        </div>
        <ion-item>
          <ion-range color="secondary" dualKnobs="true" formControlName="dual" (ionChange)="rangeChange($event)" min="1" max="40"  step="1">
          </ion-range>
        </ion-item>

        <div class="range-title">
          <span>Amount</span>
          <span>{{rangeForm.controls.single.value}}</span>
        </div>
        <ion-item>
          <ion-range formControlName="single" color="secondary" (ionChange)="rangeChange($event)" min="0" max="50" step="1">
          </ion-range>
        </ion-item>
      </ion-list>
    </form>

    <ion-item-divider>
      <ion-label>
        Multiple Items
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="checkboxForm">
      <ion-list lines="full" class="checkbox-list">
        <ion-item class="checkbox-item">
          <ion-label>Sophia Martin</ion-label>
          <ion-checkbox color="secondary" formControlName="person_1"></ion-checkbox>
        </ion-item>
        <ion-item class="checkbox-item">
          <ion-label>Mattie Abbott</ion-label>
          <ion-checkbox color="secondary" formControlName="person_2"></ion-checkbox>
        </ion-item>
        <ion-item class="checkbox-item">
          <ion-label>Marguerite Alvarez</ion-label>
          <ion-checkbox color="secondary" formControlName="person_3"></ion-checkbox>
        </ion-item>
        <ion-item class="checkbox-item">
          <ion-label>Lewis Padilla</ion-label>
          <ion-checkbox color="secondary" formControlName="person_4"></ion-checkbox>
        </ion-item>
        <ion-item class="checkbox-item">
          <ion-label>Nannie Willis</ion-label>
          <ion-checkbox color="secondary" formControlName="person_5"></ion-checkbox>
        </ion-item>
      </ion-list>
    </form>

    <ion-item-divider>
      <ion-label>
        Pick One
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="radioForm">
      <ion-list lines="full" class="radio-group">
        <ion-radio-group formControlName="selected_option">
          <ion-item class="radio-item">
            <ion-label>Apple</ion-label>
            <ion-radio slot="start" color="secondary" value="apple"></ion-radio>
          </ion-item>
          <ion-item class="radio-item">
            <ion-label>Banana</ion-label>
            <ion-radio slot="start" color="secondary" value="banana"></ion-radio>
          </ion-item>
          <ion-item class="radio-item">
            <ion-label>Orange</ion-label>
            <ion-radio slot="start" color="secondary" value="orange" disabled="true"></ion-radio>
          </ion-item>
          <ion-item class="radio-item">
            <ion-label>Kiwi</ion-label>
            <ion-radio slot="start" color="secondary" value="kiwi"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </form>

    <ion-item-divider>
      <ion-label>
        Multiple Tags
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="checkboxTagsForm">
      <ion-row class="checkbox-tags">
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Indonesia</ion-label>
          <ion-checkbox formControlName="tag_1"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Pitcairn Islands</ion-label>
          <ion-checkbox formControlName="tag_2"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Malta</ion-label>
          <ion-checkbox formControlName="tag_3"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Sierra Leone</ion-label>
          <ion-checkbox formControlName="tag_4"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Dominican Republic</ion-label>
          <ion-checkbox formControlName="tag_5"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Antigua and Barbuda</ion-label>
          <ion-checkbox formControlName="tag_6"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Macedonia</ion-label>
          <ion-checkbox formControlName="tag_7"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Vietnam</ion-label>
          <ion-checkbox formControlName="tag_8"></ion-checkbox>
        </ion-item>
      </ion-row>
    </form>

    <ion-item-divider>
      <ion-label>
        Multiple Tags (rounded)
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="checkboxTagsForm">
      <ion-row class="checkbox-tags rounded-tags">
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Indonesia</ion-label>
          <ion-checkbox formControlName="tag_1"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Pitcairn Islands</ion-label>
          <ion-checkbox formControlName="tag_2"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Malta</ion-label>
          <ion-checkbox formControlName="tag_3"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Sierra Leone</ion-label>
          <ion-checkbox formControlName="tag_4"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Dominican Republic</ion-label>
          <ion-checkbox formControlName="tag_5"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Antigua and Barbuda</ion-label>
          <ion-checkbox formControlName="tag_6"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Macedonia</ion-label>
          <ion-checkbox formControlName="tag_7"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="checkbox-tag">
          <ion-label>Vietnam</ion-label>
          <ion-checkbox formControlName="tag_8"></ion-checkbox>
        </ion-item>
      </ion-row>
    </form>

    <ion-item-divider>
      <ion-label>
        Budget (Radio Tags)
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="radioTagsForm">
      <ion-radio-group name="selected_option">
        <ion-row class="radio-tags" justify-content-between>
          <ion-item lines="none" class="radio-tag">
            <ion-label>Any</ion-label>
            <ion-radio value="any"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="radio-tag">
            <ion-label>
              <span>&#36;</span>
            </ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="radio-tag">
            <ion-label>
              <span>&#36;&#36;</span>
            </ion-label>
            <ion-radio value="2" disabled="true"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="radio-tag">
            <ion-label>
              <span>&#36;&#36;&#36;</span>
            </ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </form>

    <ion-item-divider>
      <ion-label>
        Toggle
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="switchersForm">
      <ion-list lines="full">
        <ion-item>
          <ion-label>Notifications</ion-label>
          <ion-toggle color="secondary" formControlName="notifications"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Email notifications</ion-label>
          <ion-toggle color="secondary" formControlName="email_notifications"></ion-toggle>
        </ion-item>
      </ion-list>
    </form>

    <ion-item-divider>
      <ion-label>
        Add & Substract
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="counterForm">
      <ion-list lines="full" class="counter-list">
        <ion-item class="counter-item">
          <ion-label class="counter-label">Amount</ion-label>
          <counter-input formControlName="counter"></counter-input>
        </ion-item>
        <ion-item class="counter-item">
          <ion-label class="counter-label">Bedrooms</ion-label>
          <ion-label class="counter-value">{{counterForm.controls.counter2.value}}</ion-label>
          <counter-input formControlName="counter2" basic></counter-input>
        </ion-item>
      </ion-list>
    </form>

    <ion-item-divider>
      <ion-label>
        Rating Component
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="ratingForm">
      <ion-list lines="full" class="ratings-list">
        <ion-item class="rating-item">
          <ion-label class="rating-label">Rate</ion-label>
          <rating formControlName="rate" max="5"></rating>
        </ion-item>
        <ion-item class="rating-item">
          <ion-label class="rating-label">Read Only</ion-label>
          <rating formControlName="rate2" max="3" readOnly="true"></rating>
        </ion-item>
      </ion-list>
    </form>

    <ion-item-divider>
      <ion-label>
        Color chooser
      </ion-label>
    </ion-item-divider>
    <form [formGroup]="radioColorForm">
      <ion-radio-group name="selected_option">
        <ion-row class="color-tags">
          <ion-item class="radio-tag" appColorRadio="#fc6161">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-label>Red</ion-label>
              <ion-radio value="#fc6161"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#fc9961">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-radio value="#fc9961"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#fcea61">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-radio value="#fcea61" disabled="true"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#affc61">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-radio value="#affc61"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#61fcc5">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-radio value="#61fcc5"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#fc61ad">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-radio value="#fc61ad"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#b561fc">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-label>Purple</ion-label>
              <ion-radio value="#b561fc"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#6182fc">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-label>Blue</ion-label>
              <ion-radio value="#6182fc"></ion-radio>
            </app-fill-container>
          </ion-item>
          <ion-item class="radio-tag" appColorRadio="#61d1fc">
            <app-fill-container [ratio]="{w:1, h:1}">
              <ion-radio value="#61d1fc"></ion-radio>
            </app-fill-container>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </form>
  </ion-item-group>
</ion-content>
