.signup-content {
  --auth-signup-margin: var(--app-broad-margin);
  --auth-signup-background: var(--app-background-shade);

  --background: var(--auth-signup-background);
  --padding-start: var(--auth-signup-margin);
  --padding-end: var(--auth-signup-margin);
  --padding-top: var(--auth-signup-margin);
  --padding-bottom: var(--auth-signup-margin);

  .auth-title {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-top: calc(var(--auth-signup-margin) / 2);
    margin-bottom: calc(var(--auth-signup-margin) * (3/2));
    letter-spacing: 0.6px;
  }


  .inputs-list {
    --ion-item-background: var(--auth-signup-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    .error-container {
      .error-message {
        margin: calc(var(--auth-signup-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--auth-signup-margin) / 2);
        }
      }
    }
  }

  .signup-btn {
    margin: calc(var(--auth-signup-margin) / 2) 0px;
  }

  .other-auth-options-row {
    // justify-content: space-between;
    // Esta linea es la unica diferente con login. A tener en cuenta cuando extraer estos estilos a ./auth
    justify-content: flex-end;
    align-items: center;

    // TODO: pasar estos estilos como hacemos con los otros botones
    // .forgot-btn {} // Estos estilos si estan en ./login pero no aca

    // TODO: pasar estos estilos como hacemos con los otros botones
    .login-btn {
      --color: var(--ion-color-secondary);

      margin: 0px;
    }
  }

  .social-auth-options {
    .options-divider {
      color: var(--ion-color-medium);
  		margin: var(--auth-signup-margin) 0px;
  		text-align: center;
    }

    .social-auth-btn {
      margin: 0px;

      &:not(:first-child) {
        margin-top: var(--auth-signup-margin);
      }
    }
  }

	.legal-stuff {
		text-align: center;
    font-size: 14px;
    margin: var(--auth-signup-margin) 0px;
    color: var(--ion-color-medium);

		.legal-action {
			font-weight: 500;
			color: var(--ion-color-secondary);
      cursor: pointer;
		}
	}
}
