<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="showcase/app-shell"></ion-back-button>
    </ion-buttons>
    <ion-title>
      DataStore - Pagination example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="showcase-content">
  <section class="showcase-section">
    <h5>Get data from a Remote API using DataStore - Pagination Example</h5>
    <p>
      Using <code>DataStore</code> to fetch paginated data from a remote API. Each time you click the button we fetch users from the next page.
    </p>
    <p>
      Current page: {{ dataStoreRemoteApiCounter }}
    </p>
    <p *ngIf="dataStoreRemoteApiButtonDisabled">
      No more pages available
    </p>
    <ion-row style="background-color: #FFF; padding: 10px;" *ngFor="let user of remoteApiDataState">
      <ion-col size="4">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <app-image-shell animation="spinner" [src]="user?.avatar" [alt]="'Sample Image'"></app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col size="8">
        <h3 style="margin-top: 0px;">
          <app-text-shell [data]="user?.first_name"></app-text-shell>
        </h3>
        <p>
          <app-text-shell [data]="user?.last_name" lines="3"></app-text-shell>
        </p>
      </ion-col>
    </ion-row>
    <ion-button (click)="showcaseDataStoreFromRemoteAPI()" [disabled]="dataStoreRemoteApiButtonDisabled">Get more data</ion-button>
  </section>
</ion-content>
