@mixin checkbox-item-styles($color, $background, $active-color){
	&.rounded-tags
	{
		background-color: var(--ion-color-#{$background});
		.checkbox-tag
		{
			--border-radius: 2.2rem;
			--ion-item-background: var(--ion-color-#{$color});
		}
	}

	.checkbox-tag
	{
		--padding-start: 0px;
		--ion-item-background: var(--ion-color-#{$background});
		// --ion-item-color: var(--ion-color-primary);
		--inner-padding-end: 8px;
		--inner-padding-start: 8px;
		padding: 0px 5px;
		letter-spacing: 0.2px;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&.item-checkbox-checked {
			--ion-item-background: var(--ion-color-#{$active-color});
			--ion-item-color:var(--ion-color-#{$background});
		}

		ion-label {
			margin: 10px 0px;
		}

		ion-checkbox {
			margin: 0px;
			// To hide the .checkbox-icon
			width: 0px;
			--border-width: 0px;
			height: 0px;
			// We cant set width and height for .checkbox-icon .checkbox-inner, so lets hide it changing its color
			--color-checked: transparent;
		}
	}
}
