@mixin counter-item-styles($text-color, $value-color, $background){

	.counter-item
	{
		.counter-value
		{
			margin: 15px 5px;
			color: var(--ion-color-#{$value-color});
			text-align: center;
		}

		counter-input {
			flex: 1;
			text-align: right;
			padding-right: 15px;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.counter-icon
			{
				margin: 0px;
				--border-radius: 50%;
				--border-color: var(--ion-color-#{$value-color});
				--border-style: solid;
				--border-width: 1px;
				--background: var(--ion-color-#{$background});
				--color: var(--ion-color-#{$text-color});
				width: 34px;
				height: 34px;
				font-size: 10px;

				ion-icon {
					color: var(--ion-color-#{$value-color});
				}
			}

			&[basic]
			{
				.counter-icon
				{
					width: initial;
					height: 30px;
					text-align: center;
					--color: var(--ion-color-#{$value-color});
				}
			}
			.counter-inner {
				--color: var(--ion-color-#{$text-color});
				margin: 0px 12px;
			}
		}
	}
}
