ion-header {
  ion-toolbar {
    --background: var(--ion-color-secondary-tint);

    .edit-profile {
      font-weight: bold;
    }
  }
}
.user-info {
  padding-bottom: 20px;
  min-height: 250px;
  text-align: center;
  background-color: var(--ion-color-secondary-tint);
  color: var(--ion-color-light);

  .image {
    max-width: 120px;
    border-radius: 50%;
    border: solid 3px var(--ion-color-light);
  }
  .name {
    font-weight: bold;
    margin: 6px 0px;
    font-size: 18px;
  }
  .twitter {
    margin: 6px 0px;
    color: var(--ion-color-light-shade);
  }
  .description {
    padding: 0px 20px;
  }
  .likes {
    align-items: center;
    justify-content: flex-end;

    .likes-icon-col {
      text-align: right;
      font-size: 20px;

      ion-icon {
        vertical-align: middle;
      }
    }
    .likes-value-col {
      text-align: left;
      font-weight: bold;
      vertical-align: middle;

      .value {
        vertical-align: middle;
      }
    }
  }
}
