// TODO:  Deberiamos poner el background color en el ion-content
// TODO:  Poner la variable --ion-background-color-step-50 en nuestro archivo de variables
//        asi no dependemos de sus cambios

.forgot-password-content {
  --auth-forgot-password-margin: var(--app-broad-margin);
  --auth-forgot-password-background: var(--app-background-color);

  --background: var(--auth-forgot-password-background);
  --padding-start: var(--auth-forgot-password-margin);
  --padding-end: var(--auth-forgot-password-margin);
  --padding-top: var(--auth-forgot-password-margin);
  --padding-bottom: var(--auth-forgot-password-margin);

  .auth-title {
    color: var(--ion-color-secondary);
    margin-top: calc(var(--auth-forgot-password-margin) / 2);
    margin-bottom: var(--auth-forgot-password-margin);
  }

  .recover-message {
    color: var(--ion-color-medium);
    margin: calc(var(--auth-forgot-password-margin) / 2) 0px;
  }

  .inputs-list {
    --ion-item-background: var(--auth-forgot-password-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    .error-container {
      .error-message {
        margin: calc(var(--auth-forgot-password-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--auth-forgot-password-margin) / 2);
        }
      }
    }
  }

  .reset-password-btn {
    margin: calc(var(--auth-forgot-password-margin) / 2) 0px;
  }
}
