<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="outer-content login-content">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
    <ion-list class="form-list" lines="inset">
      <!-- Email input -->
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <!-- Email input validations-->
      <div class="error-container" *ngIf="forgotPasswordForm.get('email').invalid && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
        <span *ngIf="forgotPasswordForm.get('email').errors.required">
          Email is required
        </span>
        <span *ngIf="forgotPasswordForm.get('email').errors.pattern">
          Please enter a valid email address
        </span>
      </div>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!forgotPasswordForm.valid" type="submit" expand="block">
          Reset Password
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
