<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>Deals Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="listing?.items">
    <div class="listing-item" *ngFor="let item of listing.items">
      <ion-row class="top-row">
        <ion-col class="logo-col" size="6">
          <app-preload-image class="add-spinner" [ratio]="{w: 128, h: 32}" [src]="item.logo"></app-preload-image>
        </ion-col>
        <ion-col size="3">
          <ion-button class="claim-button" expand="block" shape="round" color="claim" [routerLink]="['/app/categories/deals/', item.slug]">CLAIM</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="middle-row">
        <ion-col class="info-col">
          <h4 class="item-name">
            <a class="name-anchor" [routerLink]="['/app/categories/deals/', item.slug]">
              <app-text-shell [data]="item.name" [attr.element]="'h4'"></app-text-shell>
            </a>
          </h4>
          <p class="item-description">
            <app-text-shell [data]="item.description" [attr.lines]="3"></app-text-shell>
          </p>
        </ion-col>
        <ion-col size="2">
          <ion-button class="bookmark-button" expand="block" fill="clear" color="claim">
            <ion-icon slot="icon-only" name="pricetag"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="bottom-row">
        <ion-col class="code-wrapper">
          <span class="item-code">
            <app-text-shell [data]="item.code" class="no-animation"></app-text-shell>
          </span>
        </ion-col>
        <ion-col size="5">
          <ion-row class="time-left-wrapper" [ngClass]="{'ended': ((item.expirationDate | appTimeDifference) < 0), 'ends-soon': ((item.expirationDate | appTimeDifference) > 0 && (item.expirationDate | appTimeDifference) < 10), 'distant-end': ((item.expirationDate | appTimeDifference) >= 10)}">
            <ng-container *ngIf="((item.expirationDate | appTimeDifference) < 0 || (item.expirationDate | appTimeDifference) > 2)">
              <ion-icon class="time-icon" name="md-time"></ion-icon>
              <span class="item-time-left">
                <app-text-shell [data]="(item.expirationDate | appTimeAgo)" class="no-animation"></app-text-shell>
              </span>
            </ng-container>
            <ng-container *ngIf="((item.expirationDate | appTimeDifference) > 0 && (item.expirationDate | appTimeDifference) <= 2)">
              <app-countdown-timer class="item-countdown" [end]="item.expirationDate" [unit]="'hour'"></app-countdown-timer>
            </ng-container>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>
