// TODO: pasar este mixin a un shared mixins.scss
@mixin custom-button-color($color){
  @content;

  .ion-color-#{$color} {
    --ion-color-base: var(--ion-color-#{$color}) !important;
    --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
    --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
    --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }
}

:host {
  --shell-color: #70DF70;
  --shell-color-rgb: 112,223,112;

  --deal-ended-color: #D9453A;
  --deal-ends-soon-color: #FFAB6B;
  --deal-distant-end-color: #70DF70;

  --shadow-color: rgba(var(--ion-color-dark-rgb), .1);

  --deals-listing-margin: var(--app-broad-margin);
  --deals-listing-background: var(--app-background-shade);

  @include custom-button-color('claim') {
    --ion-color-claim: #70DF70;
    --ion-color-claim-rgb: 112,223,112;
    --ion-color-claim-contrast: #FFFFFF;
    --ion-color-claim-contrast-rgb: 255,255,255;
    --ion-color-claim-shade: #63C463;
    --ion-color-claim-tint: #7EE27E;
  }
}

.deals-listing-content {
  --background: var(--deals-listing-background);
}

.listing-item {
  background-color: var(--ion-color-lightest);
  margin: var(--deals-listing-margin);
  border-radius: var(--app-fair-radius);
  box-shadow: 1px 1px 4px 1px var(--shadow-color);

  .top-row {
    --ion-grid-column-padding: 0px;

    border-bottom: 2px dashed rgba(var(--ion-color-dark-rgb), .1);
    padding: calc(var(--deals-listing-margin) / 2);
    justify-content: space-between;
    align-items: flex-start;

    app-image-shell {
      --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
      --image-shell-spinner-color: rgba(var(--shell-color-rgb), .30);
      --image-shell-spinner-size: 18px;
    }

    .logo-col {
      align-self: center;
    }

    .claim-button {
      --box-shadow: none;

      margin: 0px;
    }
  }

  .middle-row {
    --ion-grid-column-padding: 0px;

    padding: calc(var(--deals-listing-margin) / 2);

    .info-col {
      padding-right: calc(var(--deals-listing-margin) / 2);
    }

    .item-name {
      margin: 0px;
			margin-bottom: calc(var(--deals-listing-margin) / 2);
      color: var(--ion-color-dark-tint);
      font-size: 16px;

      .name-anchor {
        display: block;
        text-decoration: none;
      }

      app-text-shell {
        --c-bg-color: rgba(var(--shell-color-rgb), .30);
        --c-line-height: 16px;
      }
    }

    .item-description {
      margin: 0px;
      color: var(--ion-color-medium-tint);
      font-size: 14px;

      app-text-shell {
        --c-bg-color: rgba(var(--shell-color-rgb), .20);
        --c-line-height: 14px;
      }
    }

    .bookmark-button {
      --padding-start: 5px;
      --padding-end: 5px;

      margin: 0px;
      font-size: 16px;
    }
  }

  .bottom-row {
    --countdown-gutter: 3px;
    --ion-grid-column-padding: 0px;

    padding: 0px calc(var(--deals-listing-margin) / 2) calc(var(--deals-listing-margin) / 2);
    justify-content: space-between;
    align-items: flex-end;

    .code-wrapper {
      max-width: fit-content;
    }

    .item-code {
      --code-height: 30px;

      height: var(--code-height);
      color: var(--shell-color);
      text-transform: uppercase;
      padding: calc(var(--deals-listing-margin) / 4) calc(var(--deals-listing-margin) / 2);
      border: 2px solid var(--shell-color);
      font-size: 14px;
      line-height: 1;
      border-radius: calc(var(--code-height) / 2);
      display: flex;
      align-items: center;
      justify-content: center;

      app-text-shell {
        --c-bg-color: rgba(var(--shell-color-rgb), .15);
        --c-line-height: 14px;
        min-width: 60px;

        &.text-loaded {
          min-width: 0px;
        }
      }
    }

    .time-left-wrapper {
      justify-content: center;
      align-items: flex-end;
      flex-flow: column;
      --deal-color: var(--ion-color-medium);

      &.ended {
        --deal-color: var(--deal-ended-color);
      }

      &.ends-soon {
        --deal-color: var(--deal-ends-soon-color);
      }

      &.distant-end {
        --deal-color: var(--deal-distant-end-color);
      }
    }

    .time-icon {
      color: var(--deal-color);
      font-size: 20px;
    }

    .item-time-left {
      color: var(--deal-color);
      font-size: 12px;

      app-text-shell {
        --c-bg-color: rgba(var(--shell-color-rgb), .10);
        --c-line-height: 12px;
        min-width: 100px;

        &.text-loaded {
          min-width: 0px;
        }
      }
    }

    app-countdown-timer {
      --countdown-time-margin: var(--countdown-gutter) var(--countdown-gutter) 0px;
      --countdown-time-padding: calc(var(--deals-listing-margin) / 2) calc(var(--deals-listing-margin) / 4);
      --countdown-time-border: 2px solid var(--deal-ends-soon-color);
      --countdown-time-border-radius: var(--app-narrow-radius);
      --countdown-time-background: transparent;
      --countdown-time-color: var(--deal-ends-soon-color);
      --countdown-time-text-shadow: none;
      --countdown-time-flex-direction: column;
      --countdown-alt-color: var(--deal-ends-soon-color);

      font-weight: 500;
      font-size: 14px;
      margin-right: calc(var(--countdown-gutter) * -1);
    }
  }
}
