<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="showcase/app-shell"></ion-back-button>
    </ion-buttons>
    <ion-title>
      DataStore - Combined Data Sources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="showcase-content">
  <section class="showcase-section">
    <p>
      Some modern <b>no-sql</b> solutions like <u>MongoDB</u> or <u>Firebase Firestore</u> do not support multi-collection queries (left join, inner join).
    </p>
    <p>
      That's why you may end up using some <b>RxJs</b> operators to manage and combine queries independently.
    </p>
    <p>
      <b>Note:</b> These techniques are <i>intermediate / advanced</i> and require some patience to fully grasp some reactive programming concepts before you can master RxJs operators. I strongly recommend you to read this guide on <a href="https://blog.angularindepth.com/learn-to-combine-rxjs-sequences-with-super-intuitive-interactive-diagrams-20fce8e6511" target="_blank">learning to combine RxJs sequences</a>.
    </p>
    <p>
      Below you can see how we combine two data sources (one depending on the other) into one Observable.
    </p>
<pre>

</pre>
  </section>
</ion-content>
