rating {
	display: flex;
	justify-content: flex-end;
	align-items:center;

	.rating-icon
	{
		flex: 1;
	  max-width: 2em;
		margin: 0px;
		--padding-bottom: 0px;
		--padding-top: 0px;
		--padding-end: 4px;
		--padding-start: 4px;
	  min-width: 0px;
	  --background: none;
		--box-shadow: none;

		ion-icon {
			padding: 0px;
		}
	}
}
